@import "../../vars.css";

.about {
    font-size: var(--about-font-size);
}

.list-wrap {
    margin-top: 40px;
    border-top: 1px solid white;
    white-space: pre;
}

.list {
    float: left;
    min-width: var(--list-width);
    font-size: var(--list-font-size);
    line-height: var(--list-line-height);
}

.list-title {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
    height: 40px;
}
