:root {
    --background: #ffd7d2;
    --background--dark: #ffbab0;
    --body-font: 'Open Sans', sans-serif;
    --text-color: white;
    --text-color-hover: gray;

    --link-letter-spacing: 0.15em;
    --link-font-size: 11px;
    --link-padding: 8px;
    --link-text-transform: uppercase;

    --home-link-letter-spacing: 0.075em;
    --home-link-font-size: 13px;
    --home-link-font-weight: 700;

    --headline-font-weight: 700;
    --headline-font-size: 64px;

    --content-width: 1200px;
    --content-width-min: 400px;

    --inner-block-top: 140px;
    --inner-block-width: 800px;

    --about-list-width: 240px;

    --nav-height: 80px;

    --page-margins: 32px;
    --page-transition: top 300ms ease;
}